body {
  margin: 0;
  font-family: 'Raleway', sans-serif;

}

/*h1 {
  font-family: 'Cookie', cursive;
  font-family: 'Cookie', cursive;
  font-weight: 100;
  font-size: 3em;
}*/


.logo {
  width: 96%;
  margin: 2%;
}


.form {
  text-align: center;
  margin-top: 14em;
  width: 98%;
  display: inline-block;
  background-color: #f9f4c5;
  overflow-y: scroll;
  height: 100vh;
  padding: 1%;
  background-image: url("/wood.png");
}


.cupcakeImg {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-image: url("/background.png");
  display: inline-block;
  vertical-align: top;
  background-size: inherit;
  text-align: center;
   background-position: 0 271px;
  text-align:center;
}

canvas {
   display: inline;
   height: 220px;
}



.cupcakes .radio {
  display: inline;
}

.cupcakes input{
  display: none;
  margin:0;padding:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}


.inputcard{
    cursor:pointer;
    width: 31.33333%;
    margin: 1%;
    display:inline-block;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1) grayscale(.0) opacity(1);
       -moz-filter: brightness(1) grayscale(.0) opacity(1);
            filter: brightness(1) grayscale(.0) opacity(1);
}

.inputcheck:hover {
    -webkit-filter: brightness(1) grayscale(.4) opacity(.8);
       -moz-filter: brightness(1) grayscale(.4) opacity(.8);
            filter: brightness(1) grayscale(.4) opacity(.8);
}

.inputcard img{
    width: 100%;
}

.checkboxes img {
  width: 23%;
  margin: 0 1% 1%;
}

.inputcard:hover {
    -webkit-filter: brightness(1) grayscale(.4) opacity(.8);
       -moz-filter: brightness(1) grayscale(.4) opacity(.8);
            filter: brightness(1) grayscale(.4) opacity(.8);
}

.inputcheck img { cursor: pointer; }


@media screen and (min-width: 600px) {
  .form {
    width: 45%;
    float: left;
    margin-top: 0;
  }

  .cupcakeImg {
    position: relative;
    width: 53%;
    background-size: contain;
    background-position: top;
  }
  canvas {
    height: 400px;
  }
}

@media screen and (min-width: 800px) {
  .form {
    width: 38%;
    float: left;
  }

  .cupcakeImg {
    width: 60%;
    background-size: contain;
  }
  canvas {
    height: 400px;
  }
}

@media screen and (min-width: 1000px) {
  .form {
    width: 28%;
  }

  .cupcakeImg {
    width: 70%;
  }
}
